.courses-in-skillcapital{
    text-align:center;
    color:lightseagreen;
    background-color: green;
}
#about{
    font-size: 25px;
    color:lightgreen;
    background-color:lightseagreen;
}
.paragraph{
    background-color: aliceblue;
    text-align: center;
}
#features{
    text-align: center;
    background-color: antiquewhite;
    
}
#start-growing{
    text-align: center;
    background-color: antiquewhite;

}
