body {
    font-family: Poppins, sans-serif;
    margin: 0px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #f4f4f4;
    font-size: 14px;


}

.button {
    padding: 14px 26px;
    border-radius: 30px;
    border: 1px solid black;

}

#start-button {
    font-weight: normal;
    color: white;
    background-color: #5301c7;
    border: none;


}

#start-button:hover {
    background-color: #ca0363;
}


#nav-menu {
    padding-right: 40px;
    color: black;

}

#nav-menu ul {
    display: flex;
    justify-content: space-around;
    gap: 35px;
    list-style-type: none;
    color: black;

}
#learn-build-getjob * {
  margin: 0;
  padding: 0;
}

#learn-build-getjob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#learn-build-getjob h1 {
    font-size: 40px;
    font-weight: 600;
    color: #343433;
    margin-top: 0px;
}

#learn-build-getjob h2 {
    font-size: 100px;
    font-weight: 800;
    color: #010101;
}

#learn-build-getjob p {
    font-size: 22px;
    color: #333;
    max-width: 600px;
    text-align: center;
    margin: 15px 0 40px 0;
    font-size:19px;
}

#links {
    display: flex;
    font-size: small;
}

#demo-link {

    background-color: #000;
    color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px 18px;

}

#contact-link {
    color: #000;
    background-color: white;
    border-radius: 10px;
    border: #333;
    padding: 10px 18px;
    border: 1px solid #ca0363;

}


#contact-link:hover {
    background-color: #ca0363;
}
#demo-link i{
    font-size:12px;
    padding-right: 3px;
}

