body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6f42c1, #d63384);
    

}
#table-layer{
    background-color: white;
    border-radius: 20px;
}
table {
    border-radius: 20px;
    border-collapse: collapse;   
    overflow: hidden;           
    background: white;          

}

#table-layer th{
    text-align: left;
}

th,td{
    padding: 5px 30px;
}
th,td,table{
    border-bottom: 1px solid gray;
}
thead{
    background-color: black;
    color: white;
}
tbody tr:nth-child(odd){
    background-color: aliceblue;
}
tbody tr:nth-child(even){
    background-color: #f5f5f5;
}